@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '../App/App.scss';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

body {
  color: $fontColor;
  background: $background;
  font-family: 'Coda Caption', sans-serif;
}
